<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
	<!-- 启用本地源
	-->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="localpackages" value="./localpackages" />
	</packageSources>
	<!-- 启用本地源 -->
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>